.education-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px 0;
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
}

.education-section > * {
  flex: 1;
  margin-bottom: 30px;
}

.education-card-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .education-card-container {
    padding-top: 0;
  }
}
